*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  height: 100vh; }

body {
  font-family: 'silkaregular', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #000000; }

.hidden {
  display: none !important; }

.btn {
  border-radius: 5rem;
  padding: 1.3rem 2rem;
  background: transparent;
  cursor: pointer;
  transition: all .3s; }
  .btn:hover {
    transform: translateY(-0.8rem); }
  .btn__primary {
    border: 0.07rem solid #ffffff;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem; }
  .btn__green {
    border: none;
    color: #ffffff;
    background-color: #3FC96A;
    font-weight: 600;
    font-size: 1.2rem; }

.header {
  padding: 3.1rem 6.4rem;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  height: 9.5rem;
  align-items: center; }
  .header__login > .btn {
    width: 12.6rem;
    height: 4.586rem; }

.wrapper {
  height: calc(100% - 9.5rem); }
  .wrapper__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 14%);
    margin: auto 10.7rem; }
  .wrapper--text {
    max-width: 47rem; }
    .wrapper--text > h3 {
      color: #3FC96A;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2.5rem; }
    .wrapper--text > h5 {
      color: #ffffff;
      font-size: 3.6rem;
      font-weight: 600;
      max-width: 47.0rem; }
      .wrapper--text > h5 > span {
        display: block; }
    .wrapper--text > p {
      font-weight: 400;
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.6);
      line-height: 3rem;
      margin-bottom: 5rem; }
    .wrapper--text > .btn {
      width: 18.7rem;
      height: 4.8rem; }
  .wrapper--img {
    object-fit: cover; }
  .wrapper__footer {
    height: 14%;
    padding-bottom: 7.9rem; }
    .wrapper__footer--nav {
      padding: 0 6.4rem;
      height: 100%; }
      .wrapper__footer--nav > section {
        position: relative;
        display: inline-block;
        padding: 0; }
        .wrapper__footer--nav > section:not(:last-child) {
          margin-right: calc( ( 100vw - (6.4rem * 2) ) / 6 - 0.8rem); }
        .wrapper__footer--nav > section > .nav_indicator {
          color: #3FC96A;
          font-size: .6rem;
          font-weight: 600;
          position: absolute;
          width: max-content;
          top: 0;
          left: 0;
          display: none; }
        .wrapper__footer--nav > section > .nav_link {
          top: 1rem;
          left: .35rem;
          height: .8rem;
          width: .8rem;
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 50%;
          border: 2px solid rgba(255, 255, 255, 0.3);
          position: absolute; }
          .wrapper__footer--nav > section > .nav_link.active {
            background-color: #3FC96A; }
            .wrapper__footer--nav > section > .nav_link.active ~ span {
              display: block; }
      .wrapper__footer--nav > section:not(:last-child) > .nav_link::after {
        content: '';
        height: 2px;
        width: calc( ( 100vw - (6.4rem * 2) ) / 6);
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        top: calc(50% - 1px); }

.scroll {
  position: fixed;
  top: 50%;
  right: 7.3rem; }
