*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  background-color: #000000; }

.btn {
  border-radius: 5rem;
  padding: 1.3rem 4.2rem;
  background: transparent; }
  .btn__primary {
    border: 0.07rem solid #ffffff;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem; }

.header {
  padding: 2.4rem 7.4rem;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between; }

.wrapper__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.wrapper--text > h3 {
  color: #3FC96A;
  font-size: 2rem;
  font-weight: 600; }

.wrapper--text > h5 {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 600;
  max-width: 47.0rem; }
  .wrapper--text > h5 > span {
    display: block; }

.wrapper--img {
  object-fit: cover; }
