.header {
    padding: 3.1rem 6.4rem;
    background-color: rgba($color_white, .05);
    display: flex;
    justify-content: space-between;
    height: $nav_height;
    align-items: center;

    &__login > .btn {
        width: 12.6rem;
        height: 4.586rem;
    }
}