.wrapper {
    height: calc(100% - #{$nav_height});

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - #{$nav_height * 3}/2);
        margin: auto 10.7rem;

    }
    &--text {
        max-width: 47rem;

        & > h3 {
            color: $color_green;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 2.5rem;
            
        }
        & > h5 {
            color: $color_white;
            font-size: 3.6rem;
            font-weight: 600;
            max-width: 47.0rem;
            
            & > span {
                display: block;
            }
        }
        & > p {
            font-weight: 400;
            font-size: 2rem;
            color: rgba($color_white, .6);
            line-height: 3rem;
            margin-bottom: 5rem;
        }
        & > .btn {
            width: 18.7rem;
            height: 4.8rem;
        }
            
    }
    &--img {
        object-fit: cover;
    }

    &__footer {
        background-color: red;
        height: $nav_height;
    }

}