@mixin btnHover {

    transition: all .3s;

    &:hover {
        transform: translateY(-.8rem);
    }
}

.btn {
    border-radius: 5rem;
    padding: 1.3rem 2rem;
    background: transparent;
    cursor: pointer;

    @include btnHover();


    &__primary {
        border: .07rem solid $color_white;
        color: $color_white;
        font-weight: 600;
        font-size: 1.2rem;
    }
    &__green {
        border: none;
        color: $color_white;
        background-color: $color_green;
        font-weight: 600;
        font-size: 1.2rem;
    }
}

